<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-success btn-sm" (click)="open()">Add New</button>
    </div>
</div>
<div class="row car-list-home-container">
    <div class="col-3" *ngFor="let car of carList">
        <app-car-card [carData]="car"></app-car-card>
    </div>
</div>
<div class="modal" id="newCarModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Car</h4>
                <button type="button" class="btn-close" (click)="close()" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-7">
                        <form>
                            <div class="row">
                                <div class="col-4">
                                    <div class="mb-3">
                                        <label for="brand" class="form-label">Brand</label>
                                        <input type="text" class="form-control" [(ngModel)]="carObj.brand" name="brand" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Model Name</label>
                                        <input type="text" class="form-control" [(ngModel)]="carObj.name" name="name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <label for="price" class="form-label">Pricing</label>
                                    <input type="number" class="form-control" id="price" [(ngModel)]="carObj.pricing" name="price" required>
                                </div>
                                <div class="col-7">
                                    <label for="pricingdescription" class="form-label">Pricing description</label>
                                    <input type="text" class="form-control" id="pricingdescription" [(ngModel)]="carObj.pricingDescription" name="pricingdescription" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="locationid" class="form-label">Location</label>
                                    <select class="form-control" [(ngModel)]="carObj.locationId" id="locationid" name="locationid" required>
                                        <option value="">Select location</option>
                                        <option *ngFor="let location of locations" [value]="location.locationId">{{ location.title }}</option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <label for="imageurl" class="form-label">Image URL</label>
                                    <input type="text" class="form-control" id="imageurl" [(ngModel)]="carObj.imageUrl" name="imageurl" required>
                                </div>
                                <div class="col-4">
                                    <label for="vehicle" class="form-label">Vehicle No.</label>
                                    <input type="text" class="form-control" id="vehicle" [(ngModel)]="carObj.vehicleNo" name="vehicle" required>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-5">
                                <label for="accessoriestitle" class="form-label">Title</label>
                                <input type="text" class="form-control" [(ngModel)]="carAccesoriesObj.accessoriesTitle" id="accessoriestitle" name="accessoriestitle">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Show on Website?</label>
                                <input type="checkbox" [(ngModel)]="carAccesoriesObj.showOnWebsite" id="showonwebsite" name="showonwebsite">
                            </div>
                            <div class="col-3">
                                <button class="btn btn-success btn-sm" (click)="Add()">Add</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Sr</th>
                                            <th>Title</th>
                                            <th>Website</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of carObj.ZoomCarAccessoriess; let sr=index">
                                            <td>{{ sr + 1 }}</td>
                                            <td>{{ item.accessoriesTitle }}</td>
                                            <td>{{ item.showOnWebsite ? 'Yes' : 'No' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="saveCar()">Save Car</button>
            </div>
        </div>
    </div>
</div>
